.content_details {
  width: 753px;
  margin-right: 30px;
  background-color: #191919;
  border: solid 1.5px white;
  border-radius: 6px;
  padding: 30px;
  .info_second {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    .content_info_second {
      display: flex;
      flex-direction: column;
    }
    .w-47 {
      width: 49%;
    }
    .w-43 {
      width: 44%;
    }
    .br {
      width: 1px;
      background-color: #01b4e4;
    }
  }
  .info_main {
    display: flex;
    .content_image {
      width: 330px;
      height: 230px;
      border-radius: 6px;
      .image {
        width: 180px;
        height: 230px;
        border: solid 1px white;
        margin: 0 0 0 35px;
        border-radius: 6px;
      }
    }
    .content_info {
      margin-left: 20px;
      width: 330px;
      display: flex;
      flex-direction: column;
    }
  }
}
.content_search {
  width: fit-content;
  display: flex;
  margin: 15px auto;
  box-shadow: 0 1.5px 4px #01b4e4;
  .search {
    height: 65px;
    width: 600px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 0 15px;
    font-size: 24px;
    border: solid 2px #fff;
  }
  .search:focus {
    border: solid 2px #01b4e4;
    outline: none;
  }
  .submit {
    width: 240px;
    background-color: #01b4e4;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    font-size: 24px;
    color: white;
    text-shadow: black 0 0 20px;
    cursor: pointer;
    transition: background-color 1s;

  }
  .submit:hover {
    background-color: rgb(1, 120, 255);
  }
  .submit:focus {
    border: none;
    outline: none;
  }
}
.partial {
  margin-top: 70px;
  display: flex;
  position: relative;
  min-height: 700px;
  padding-bottom: 100px;
}
.category {
  padding: 25px 15px;
  width: 330px;
  height: 500px;
  background-color: #191919;
  border-radius: 6px;
  border: solid 1.5px white;
  display: flex;
  flex-direction: column;
  .title_category {
    text-align: center;
    font-size: 21px;
    font-weight: 500;
    color: white;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 20px;
    justify-content: space-between;
  }
}
.u_capital {
  text-transform: capitalize;
}
.list_genres {
  display: flex;
  background-color: #e4f6e9;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 10px 15px;
  height: 30px;
  overflow: hidden;
  align-items: center;
  i {
    margin: 0 0 0 auto;
  }
  span {
    font-size: 16px;
    color: black;
    font-weight: 500;
    margin-right: 7px;
    overflow: hidden;
  }
}

.list_genres_big {
  display: flex;
  background-color: #e4f6e9;
  border-radius: 4px;
  padding: 10px 15px;
  height: 258px;
  overflow: scroll;
  margin-bottom: 20px;
  span {
    font-size: 16px;
    color: black;
    font-weight: 500;
    margin-right: 7px;
  }
}

.row {
  display: flex;
  color: white;
  font-weight: 500;
  font-size: 18px;
  h5 {
    font-weight: 500;
    margin: 0;
    font-size: 1rem;
  }
}

.card_recommendated {
  width: 140px;
  cursor: pointer;
  height: 190px;
  position: relative;
  background-color: white;
  border-radius: 6px;
  margin: 0 0px 20px 0;
  background-size: cover;
  transition: transform .9s;
  .mask_opacity {
    display: none;
  }
  .img_movie {
    border-radius: 6px;
  }
}

.card_recommendated:hover {
  .mask_opacity {
    position: absolute;
    background: rgba(0, 0, 0, .66);
    top: 0;
    border-radius: 6px;
    border: solid 1.5px white;
    bottom: 0;
    right: 0;
    padding: 10px 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    left: 0;
    color: white;
    text-align: center;
    font-size: 16px;
    i {
      font-size: 54px !important;
      color: #FFFF15;
    }
  }
}
