.container_private {
  background-color: black;
  .public_header {
    width: 100%;
    height: 5rem;
    position: fixed;
    z-Index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 3.5rem 0;
    background-color: rgba(0, 0, 0, .7);
    .btn_login {
      cursor: pointer;
      padding: 9px 19px;
      font-weight: 400;
      font-size: 1rem;
      background-color: #01b4e4;
      color: #fff;
      border-radius: 3px;
      transition: background-color 1s;
    }
    .btn_login:hover {
      background-color: rgb(1, 120, 255);
    }
  }
  .layout {
    width: 1100px;
    margin: 0 auto;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
  }
}


